/*smaet phones and tablets*/
@media(max-width:767px)
{
    .navbar-inverse .navbar-nav>li>a{
        padding-top:10px;
        padding-bottom:10px
    }
    .subscribc .form-control{
        margin:20px auto;
        width: 440px;
        margin-bottom:0px
    }
    .our-skills {
        text-align:center
    }
    .footer .three-three{
        text-align:center;
        
        
    }
    .footer .soclal-list{
        margin-left:90px
    }
    .footer .soclal-list li{
        margin-right:20px
    }
    .footer .our-our {
        text-align:center
    }
}
/* smaet phones and tablets*/